*.pyc
*~
.DS_Store
.ipynb_checkpoints
.sass-cache
.jekyll-cache/
__pycache__
_site
.Rproj.user
.Rhistory
.RData
.bundle/
.vendor/
.docker-vendor/
Gemfile.lock
01-introduction.html
02-MARC Basics.html
03-Parsing a MARC file.html
04-Changing data in a record.html
05-Saving a MARC file.html